body{
    background-image: url(https://www.google.com/search?sca_esv=dbec97f3c192e658&sca_upv=1&rlz=1C1GCEU_enLV1075LV1077&q=photo&uds=AMwkrPtD2X8ne8wHcZUM2vdrxSzm2ZDeWsHdn8Ig3ikd-hZ42RGptGBAVqMKna7QwxhC81L6YCxqF5rbr8XiTz26bshktVSYroe7PKHRliQfNEwq-uqEk_VfQBXZe1ZCnLdWhTaqcA1DZnvHGQqUbfJtl52mP6mne2cTH-N9yaJxpXoo9FkbfLjJ6F6YlrzB255IMyfZSK39zCxe_8yiVG2cqtn2u3nBeR-7ZzcOFBB-7ze-RmhlCZnY9XeTHpuizLgZCXrQ0xps&udm=2&prmd=ivnbz&sa=X&ved=2ahUKEwirqIvl3NWFAxUHLRAIHWr6D5YQtKgLegQIERAB&biw=1536&bih=730&dpr=1.25&safe=active&ssui=on#vhid=ASMDFNsL7Vw1YM&vssid=mosaic);
}
.pamatlaukums{
    background-color: rgb(40, 161, 121);
    width: 500px;
    height: 500px;
    border: 2px solid rgb(202, 0, 0);
    padding: 10px;
    margin: auto;
}
.cataZinas{
    background-color: blue;
    height: 430px;
    padding: 10px;
    overflow: scroll;
    color: blueviolet;
}